<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Campgrounds</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">

            <a class="navbar-brand" href="/">Tents</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                        <a href="/campgrounds" class="nav-link">Campgrounds</a>
                    </li>
                </ul>
                <% if(!currentUser){ %>
                    <ul class="navbar-nav">
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                            <a href="/register" class="nav-link">Sign-Up</a>
                        </li>
                        <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active': '' %>">
                            <a href="/login" class="nav-link">Login</a>
                        </li>
                    </ul>
                    <form action="/campgrounds" method="GET" class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Campground Search...">
                        <input class="btn btn-primary-outline my-2 my-sm-0" value="Search" type="submit">
                    </form>
                    <% } else{ %>
                        <span class="navbar-text text-light mr-auto">
                                Signed in as <%= currentUser.username %>
                        </span>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/logout">Logout</a>
                            </li>
                        </ul>
                        <form action="/campgrounds" method="GET" class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" name="search" type="search" placeholder="Campground Search...">
                            <input class="btn btn-primary-outline my-2 my-sm-0" value="Search" type="submit">
                        </form>
                <% } %>
            </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } %>
                <% if(success && success.length > 0){ %>
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <%= success %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <% } %>
    </div>
    <div class="container">